/* home css classes */

.header-lg {
	background: url("../img/header-lg.jpg") no-repeat top center;
	height: 855px;
}

.header-sm {
	background: url("../img/header-sm.jpg") top center;
	background-color: #AAA;
	height: 800px;
}

.header-title {
	font-size: 9em;
	color: white;
	text-shadow: 0 0 0.2em black;
	margin-top: 155px;
	font-family: 'Bevan', cursive;
}