/* home css classes */

.header-lg {
	background: url("../img/header-lg.jpg") no-repeat top center;
	background-color: #AAA;
	height: 855px;
}

.header-sm {
	background: url("../img/header-sm.jpg") top center;
	background-color: #AAA;
	height: 650px;
}

.header-xs {
	background: url("../img/header-xs.jpg") top center;
	background-color: #AAA;
	height: 650px;
}

.header-title {
	font-size: 9em;
	color: white;
	text-shadow: 0 0 0.2em black;
	margin-top: 155px;
	font-family: 'Bevan', cursive;
}

.header-title-sm {
	font-size: 5em;
	color: white;
	text-shadow: 0 0 0.2em black;
	text-align: center;
	margin-top: 155px;
	padding-left: 50%;
	font-family: 'Bevan', cursive;
}