/* all necessary classes for shop section */

.shopItunes {
    display: inline-block;
    overflow: hidden;
    background: url("http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.png") no-repeat;
    width: 165px;
    height: 40px;
}

.shopGooglePlay {
    background: url("https://developer.android.com/images/brand/de_generic_rgb_wo_60.png") no-repeat;
    width: 172px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
}

.shopAmazon {
    background: url("../img/shop_amazon.png");
    width: 230px;
    height: 68px;
    display: inline-block;
    overflow: hidden;
}

.shopSpotify {
    display: inline-block;
    overflow: hidden;

}

.shopDeezer {
    display: inline-block;
    overflow: hidden;

}

.cover_hunnerdbrozenndich {
    background-image: url("../img/shop_cover_hunnerdprozenndich.jpg");
    height: 500px;
    width: 500px;

    overflow: hidden;
}