/* all necessary classes for shop section */

.shop {
    margin-bottom: 37px;
    width: 230px;
    height: 81px;
    margin-left: auto;
    margin-right: auto;
}

.shopItunes {
    background: url("../img/shop_itunes.png") no-repeat;
}

.shopGooglePlay {
    background: url("../img/shop_googleplay.png") no-repeat;
}

.shopAmazon {
    background: url("../img/shop_amazon.png") no-repeat;    
}

.shopSpotify {
    background: url("../img/shop_spotify.png") no-repeat;  
}

.shopDeezer {
    background: url("../img/shop_deezer.png") no-repeat;  
}

.shop-img {
    margin-bottom: 30px;
}

.shop-img-md {
    margin-bottom: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.shop-img-sm {
    margin-bottom: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}